.global {
  background-color: rgba(0, 117, 255, 0.72);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.authForm {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100%;
}