.appbar {
  //background-color: rgba(0, 117, 255, 0.72);
  background-color: floralwhite;
  //box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
}

.account {
  float: right;
  //color: white;
  color: black;
}
