.appbar {
  background-color: white;
}

.oralng {
  color: rgba(0, 117, 255, 0.72);
  font-weight: bold;
  font-size: large;
  margin-top: 12px;
  flex-grow: 1;
}

.menu {
  float: left;
}

.account {
  float: right;
}
