.appbar {
  background-color: white;
}

.oralng {
  color: rgba(0, 117, 255, 0.72);
  font-weight: bold;
  font-size: large;
  flex-grow: 1;
  display: inline-block;
  width: 250px;
}

.menu {
  display: inline;
}

.account {
  float: right;
}
