.box {
  background-color: green;
  width: 10%;
  display: flex;
  flex-direction: column;
}

.list {

  .listItem {

  }
}

.textBtn {
  color: black;
  width: 100%;
  padding: 10px;
  justify-content: left;

  &:hover {
    color: white;
    background-color: black;
  }
}

.oralng {
  color: rgba(0, 117, 255, 0.72);
  font-weight: bold;
  font-size: large;
  margin-left: 15%;
}

.header {
  background-color: floralwhite;
  min-height: 56px;
  padding-top: 10%;
  padding-bottom: 5%;
}

.footer {
  background-color: black;
  width: 100%;
  height: 5%;
}